
.footer-body {
	display: flex;
	height: 125px;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $md2+px){
		height: auto;
		padding: 15px 0px;
		flex-direction: column-reverse;
	}
	&__column {
	}
}
.footer {

	&__text {
		font-family: 'PT Sans';
		color: #4d4d4d;
		font-size: 15px;
		line-height: 25px;
		a{
			text-decoration: underline; color: #4d4d4d;
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__logo {
	}
}
