@import "_null"; //Обнуляющий CSS

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: 'AkzidenzGrotesk-BoldCond';
	src: url('../fonts/AkzidenzGrotesk-BoldCond.eot');
	src: local('☺'), url('../fonts/AkzidenzGrotesk-BoldCond.woff') format('woff'), 
		url('../fonts/AkzidenzGrotesk-BoldCond.ttf') format('truetype'), 
		url('../fonts/AkzidenzGrotesk-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Переменные
$fontfamily: "PT Sans";
$min-width: 320px;
$mw: 880;
$md1: $mw+12;
$md2: 750;
$md3: 767.98;
$md4: 479.98;

.wrapper{
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 750px;
	}
	@media (max-width: $md2+px){
		max-width: none;
		padding: 0 10px;
	}
}

//Стиль header
@import "_header";
