@import "_null"; //Обнуляющий CSS

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: 'AkzidenzGrotesk-BoldCond';
	src: url('../fonts/AkzidenzGrotesk-BoldCond.eot');
	src: local('☺'), url('../fonts/AkzidenzGrotesk-BoldCond.woff') format('woff'), 
		url('../fonts/AkzidenzGrotesk-BoldCond.ttf') format('truetype'), 
		url('../fonts/AkzidenzGrotesk-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Переменные
$fontfamily: "PT Sans";
$min-width: 320px;
$mw: 880;
$md1: $mw+12;
$md2: 750;
$md3: 767.98;
$md4: 479.98;

.wrapper{
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 750px;
	}
	@media (max-width: $md2+px){
		max-width: none;
		padding: 0 10px;
	}
}

// Forms

.btn{
	height: 50px;
	line-height: 54px;
	padding: 0px 33px;
	background-color: #000000;
	color: #ffffff;
	font-family: 'Bebas Neue';
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	display: inline-block;
	&--white{
		background-color: #ffffff;
		color: #000000;
	}
}
//Стиль header
@import "_header";

//Стиль для блока Private 
.private {
	display: flex;
	background-color: #000000;
	margin: 0px 0px 75px 0px;
	&__column {
		flex: 0 0 50%;
		@media (max-width:$md2+px){
			flex: 1 1 100%;
			&:first-child{
				display: none;
			}
		}
	}

	&__image {
		height: 100%;
	}
}
.ibg {
	background-size: cover;
	img{display: none;}
}

.private-body {
	padding: 75px 0px 75px 61px;
	@media (max-width:$md1+px){
		padding: 30px 0px 30px 30px;
	}
	&__title {
		font-family: AkzidenzGrotesk-BoldCond;
		font-size: 50px;
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin: 0px 0px 23px 0px;
		@media (max-width:$md1+px){
			font-size: 35px;
			margin: 0px 0px 13px 0px;
		}
	}

	&__text {
		font-size: 15px;
		line-height: 25px;
		font-family: $fontfamily;
		color: #ffffff;
		margin: 0px 0px 51px 0px;
		@media (max-width:$md1+px){
			margin: 0px 0px 30px 0px;
		}
	}
}
.private-body-content{
	max-width: 305px;
}
.private-body-buttons {

	&__item {
	}

	&__link {
		font-family: 'Bebas Neue';
		font-size: 19px;
		letter-spacing: 1.9px;
		text-decoration: underline;
		text-transform: uppercase;
		color: #ffffff;
		padding: 0px 0px 0px 12px;
	}
}

//Стиль для блока Products
.products{
	padding: 0px 0px 40px 0px;

	&__column {
		flex: 0 0 25%;
		padding: 0px 0px 40px 0px;
	}
}
.products-body{
	display: flex;
}
.products-item {

	display: flex;
	flex-direction: column;
	height: 100%;
	&__image {
		display: block;
		padding: 0px 0px 102% 0px;
		margin: 0px 0px 23px 0px;
	}

	&__title {
		font-size: 25px;
		font-family: AkzidenzGrotesk-BoldCond;
		line-height: 25px;
		letter-spacing: 2.5px;
		margin: 0px 0px 26px 0px;
		color: #000000;
		text-transform: uppercase;
		display: block;
		max-width: 185px;
		padding: 0px 10px 0px 7px;
		height: 50px;
		overflow: hidden;
	}

	&__text {
		flex: 1 1 auto;
		font-family: $fontfamily;
		font-size: 15px;
		line-height: 25px;
		color: #000000;
		margin: 0px 0px 28px 0px;
		display: block;
		max-width: 204.5px;
		padding: 0px 0px 0px 6px;
	}

	&__btn {
		margin: 0px 0px 25px 6px;
		// padding: 0px 0px 0px 6px;
	}

	&__link {
		font-family: 'Bebas Neue';
		font-size: 19px;
		line-height: 25px;
		letter-spacing: 1.9px;
		text-transform: uppercase;
		text-decoration: underline;
		color: #000000;
		padding: 0px 0px 0px 9px;
	}
}


